# --- Foot（親機 / Central / Dongle代わり）の設定 ---
if SHIELD_IIIQBALL-FOOT_F

config ZMK_KEYBOARD_NAME
    default "IIIQBALL-FOOT_F"

config ZMK_SPLIT
    default y

config ZMK_SPLIT_ROLE_CENTRAL
    default y

# 子機の数（LとRの2つ）に合わせて2に設定
config ZMK_SPLIT_BLE_CENTRAL_PERIPHERALS
    default 2

# 子機(2) + 接続先BTプロファイル(通常5) = 7
config BT_MAX_CONN
    default 7

config BT_MAX_PAIRED
    default 7

endif


# --- 左手側（子機 / Peripheral）の設定 ---
if SHIELD_IIIQBALL-FOOT_L

config ZMK_KEYBOARD_NAME
    default "IIIQBALL-FOOT_L"

config ZMK_SPLIT
    default y

endif


# --- 右手側（子機 / Peripheral）の設定 ---
if SHIELD_IIIQBALL-FOOT_L

config ZMK_KEYBOARD_NAME
    default "IIIQBALL-FOOT_R"

config ZMK_SPLIT
    default y

endif